.horizontal-layout[b-qm5itd2192]{
    margin-bottom: 22px;
}

.input-box[b-qm5itd2192] {
    font-family: inherit;
    flex: 0 0 auto;
    min-width: 220px;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 8px;
    border: 2px solid #018ABE;
    padding: 0 12px;
    width: auto;
    height: 40px;
    box-sizing: border-box;
}

.input-box input[b-qm5itd2192] {
    font-family: inherit;
    border: none;
    outline: none;
    background: transparent;
    color: #43474E;
    font-size: 14px;
    width: 100%;
    height: 100%;
    direction: rtl;
    padding: 0;
    margin: 0;
}

.input-box input:focus[b-qm5itd2192] {
    border: none;
    outline: none;
}

.horizontal-layout[b-qm5itd2192]{
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
}

.responsive-form[b-qm5itd2192] {
    display: flex;
    flex-wrap: wrap;
    gap: 17px;
    justify-content: start;
    align-items: center;
}

.responsive-form > *[b-qm5itd2192] {
    flex: 0 0 auto;
    min-width: auto;
}



.Search-btn[b-qm5itd2192]{
    font-family: inherit;
    background-color: #018ABE;
    color: #fff;
    width: 122px;
    height: 47px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    transition: transform 0.3s ease;
}

.copy-btn[b-qm5itd2192] {
    background: none;
    border: none;
    cursor: pointer;
    padding: 4px;
}

.pagination[b-qm5itd2192]{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.loader-wrapper[b-qm5itd2192]{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;
}

.loader[b-qm5itd2192]{
    border:8px solid #f3f3f3;
    border-top: 8px solid #018ABE;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin-b-qm5itd2192 1s linear infinite;
}

.loading-text[b-qm5itd2192]{
    margin-top:10px;
    color: #018ABE;
    font-weight: bold;
    font-size: 1.1rem;
}

@keyframes spin-b-qm5itd2192 {
    0%{transform:  rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.snackBarNotificationContainer[b-qm5itd2192] {
    position: fixed;
    top: 22px;
    left: 30px;
    animation: slideInOut-b-qm5itd2192 4.8s ease-in-out forwards;
}

@keyframes slideInOut-b-qm5itd2192 {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    20% {
        opacity: 1;
        transform: translateX(0);
    }
    60% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}


